- event_tags = Array(event_tags)
- tag_sentiments = tag_sentiments || {}
- related_articles = Array(local_assigns[:related_articles])
- show_coverage = local_assigns.fetch(:show_coverage, related_articles.any?)
- details_path = local_assigns[:details_path]
- stack_layout = local_assigns.fetch(:stack_layout, false)
- show_sentiment = event_tags.any?
- show_section = show_sentiment || show_coverage

- if show_section
  %section.page-section.pt-0
    - if stack_layout
      - if show_sentiment
        .row.mb-4
          .col-12
            = render 'events/sentiment_card', event_tags: event_tags, tag_sentiments: tag_sentiments, details_path: details_path
      - if show_coverage
        .row.mb-0
          .col-12
            = render 'events/coverage_card', related_articles: related_articles
    - else
      .row.mb-4.g-4
        - if show_sentiment
          .col-12{ class: show_coverage ? 'col-xl-6' : 'col-xl-12' }
            = render 'events/sentiment_card', event_tags: event_tags, tag_sentiments: tag_sentiments, details_path: details_path
        - if show_coverage
          .col-12{ class: show_sentiment ? 'col-xl-6' : 'col-xl-12' }
            = render 'events/coverage_card', related_articles: related_articles
